
body {
  background: rgba(0,0,0,0.9);
  margin: 0;
  padding: 0;
}
.container {
  margin: 20% auto 0 auto;
  border: 1px solid rgba(255,255,255,0.12);
  background: rgba(255,255,255,0.08);
  .tweet {
    overflow: hidden;
    p { font-family: 'lato'; }
    img {
      border-radius: 50%;
      border: solid 1px black;
    }
  }
}
